*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://i.imgur.com/soTceWO.png);
    -webkit-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.34%;
    grid-template-rows: 15% 15% 40% 30%;
}
h1 {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    padding: none;
    color: rgb(49, 56, 143);
    text-align: left;
    text-shadow: 3px 2px rgb(52, 184, 189);
    font-size: 40px;
}
h2 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    color: rgb(49, 78, 165);
    font-size: 2rem;
}
.bling {
    animation:blinkingText 4s infinite;
    text-align: center;
    text-shadow: 3px 2px rgb(25, 48, 110);
}
.style {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    align-items: flex-end;    

}
@keyframes blinkingText{
    0%{  color: rgb(192, 147, 50);  }
    49%{  color: rgb(179, 89, 47);     }
    50%{  color: rgb(102, 134, 66);     }
    99%{  color: rgb(79, 173, 107);     }
    100%{ color: rgb(62, 150, 190);    }

}
.div {
   display: grid;
   grid-column: 2 / 2;
   grid-row: 1 / 1;
   padding: none;
 } 
 #circle {
    grid-column: 2 / 2;
    grid-row: 2 / 2; 
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 20rem;
} 
.dots {
    padding: 12px;
    width: 5px;
    height: 25px;
}
table {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
#grab {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
}
.button {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    justify-self: center;
    align-self: center;
    height: 40px;
    width: 70px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.scorecard {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    justify-self: right;
    border: 4px solid rgb(150, 28, 28);
    border-style: outset;
    width: 4rem;
    height: 3rem;
    background-color: rgb(179, 149, 157);
    font-size: 20px;
    text-align: center;
}
 .align {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    justify-self: center; 
    text-align: center;
} 
#record {
    grid-row: 2 / 2;
    grid-column: 3 / 3;
    justify-items: center;
    border-style: outset;
    border: 4px solid rgb(145, 36, 36);
    border-style: groove;
    width: 4rem;
    height: 3rem;
    background-color: rgb(179, 149, 157);
    font-size: 20px;
    text-align: center;
}
.timer {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    justify-self: center;
    text-align: center;
}

.cell {  
    width:30px; 
    height:30px;
    background-color:#333; 
    color:#ccc;
    float:left; 
    margin-right:1px;
    margin-bottom:1px;
    }
#container{ 
     width:682px; height:310px; 
    background-color:#555; font-size:85%;
    }
#parent {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    justify-self: center;
}
.reh2 {
    display: flex;
    justify-content: center;
    align-items: center;
    animation:blinkingText 4s infinite;
    text-align: center;
    text-shadow: 3px 2px rgb(29, 56, 179);
    font-size: 5rem;

}
.button:hover {
    background-color: rgb(184, 163, 166);
}


